[Service]
 # Required, the BT device mac
DeviceMac = CHANGE_ME
# Shows up when searching for devices
DeviceName = btkb
# HID class the device emulates
DeviceClass = 0x002540
# UUID of device, you can leave this be
DeviceUUID = 00001124-0000-1000-8000-00805f9b34fb
# Automatically release keys
AutoRelease = false
# Service port, control - must match port configured in SDP record
PortControl = 17
# Service port, interrupt - must match port configured in SDP record#Interrrupt port
PortInterrupt = 19

[FifoClient]
# Where to make the fifo
Path = /tmp/btkb.fifo
# Owner GID of the fifo, if None use whatever GID created the client
OwnerGID = 0
# ^^^^  UID ...
OwnerUID = 1000